body {
    font-family: Arial, sant-serif;
    margin: 30px;
    font-size:16px;
}
.decoration {
    decoration-text: none;
    color: Purple;
    font-weight: 700;
}
.cities {
    line-height: 10px;
}